$white-color: #fff;
$box-shadow-light: rgba(0, 0, 0, 0.1);
$background-light: #4865c1;
$background-task-light: #f0f5fc;
$background-item-light: #fff;
$border-item-light: rgb(243, 243, 243);
$color-item-title-light: #323232;
$background-input-light: #fff;
$bg-toggle-light: #e2e2e2;
$border-toggle-light: #f8f9f8;

$dark-color: #323232;
$box-shadow-dark: rgba(0, 0, 0, 0.08);
$background-dark: #212121;
$background-task-dark: #2d2c2d;
$background-item-dark: #373636;
$border-item-dark: #585858;
$color-item-title-dark: #fbfbfa;
$background-input-dark: #434342;
$bg-toggle-dark: #292929;
$border-toggle-dark: #494848;
